<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/Style/about.css" />
  <link rel="stylesheet" href="/static/Style/home.css">
  <title>About Us</title>
</head>

<body>
  <header>
    <a href="#" class="logo">DARUL HIKMAH</a>
    <div class="menuToggle"></div>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="">read <b>▼</b></a>
              <ul>
                  <li><a href="/getUserBlogs">blog</a></li>
                  <li><a href="/getUserInfographics">infographics</a></li>
              </ul>
          </li>
          <li><a href="/getUserPosts">posts</a></li>
          <li><a href="/getUserResourcePublications">resources</a></li>
          <li><a href="/getUserCourses">courses <b>▼</b></a>
              <ul>
                  <li><a href="getUserKidCourses">for Women</a></li>
                  <li><a href="getUserWomenCourses">for kids</a></li>
              </ul>
          </li>
          <li><a href="/aboutUs">about</a></li>
          <li><a href="/contactUs">contact us</a></li>
          <li><a href="/getuserPublications">publications<b>▼</b></a>
              <ul>
                  <li><a href="/getUserEBookPublications">Ebooks</a></li>
                  <li><a href="/getUserAcademyPublications">by academy</a></li>

              </ul>
          </li>

      </ul>
  </nav>
    
  </header>
  <div class="abhead">
  <h1>About Us</h1>
  <div class="slog">
    <p>"slogan comes here Lorem ipsum dolor sit amet consectetur"</p>
  </div>
</div>
<div class="abcon"
style="margin-bottom:200px ;">
  <div class="abtcon1">
    <div class="par1">
     <p>Our goal is to instil the maʿrifah (deep knowledge) and <span>love of Allah and His Messenger ﷺ </span>in ourselves, our families and the wider Ummah.
      <br>
      <br>
      We envision an Ummah that is connected to the <span>Book of Allah</span>; that savours the sweetness of īmān and worship; and that internalises ʿubūdiyyah (servitude) and yaqīn (conviction).
      <br>
      <br>
      We hope to strengthen our īmān and nurture the <span> īmān</span> of our upcoming generations, enabling them to remain steadfast in this era of trials.</p> 
      <br>
      <br>
    </div>
    <div class="logob"><img src="/static/Assets/images/logo.png" alt="logo"></div>
  </div>
  <div class="abtcont2">
    <div class="par2">
      <h3>What do we do?</h3>
      <p>
      <ul>
        <li>Produce and publish books and pamphlets (print and digital)</li>
        <li>Distribute banners and posters for masjids</li>
        <li>Share daily reminders via social media</li>
        <li>Develop educational resources</li>
        <li>Provide authentic Islamic content through our website</li>
      </ul>
      </p>
    </div>
    <div class="par3">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni sed dolorum sapiente modi asperiores porro
        corporis
        iure sit numquam esse ab enim ea eaque, <span>consectetur incidunt odio, quasi recusandae.</span> Consequatur! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Molestiae odio, asperiores commodi dolore doloribus tempora iure
        animi aut quo rem <span>voluptatum voluptas vitae </span> deserunt odit earum ea. Saepe, consequuntur laudantium.</p>
    </div>
  </div>
</div>
<footer class=" bg-dark py-4">
  <div class="container text-white">
      <div class="row gy-4 gx-5">
          <div class="col-lg-6 col-md-6 d-flex flex-column justify-content-between">
              <div>
                  <h5 class="h1">DARUL HIKMAH</h5>
                  <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div>
                  <p class="small mb-0">&copy; Copyrights. All rights reserved. Developed by Glittle Software Solutions</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <h5 class="text-white mb-3 text-center ">Quick Links</h5>
              <ul class="list-unstyled text-muted d-flex flex-wrap text-white">
                  <li class="mx-4 pt-3  "><a href="/">Home</a></li>
                  <li class="mx-4 pt-3  "><a href="/getUserBlogs">Read</a></li>
                  <li class="mx-4 pt-3 "><a href="/getUserPosts">Posts</a></li>
                  <li class="mx-4 pt-3 "><a href="/getUserResourcePublications">Resources</a></li>
                  <li class="mx-4 pt-3 "><a href="/getUserCourses">Courses</a></li>
                  <li class="mx-4 pt-3  "><a href="/aboutUs">About</a></li>
                  <li class="mx-4 pt-3 "><a href="/contactUs">Contact Us</a></li>
                  <li class="mx-4 pt-3  "><a href="/getUserPublications">Publications</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
  <script src="jsfiles/logo.js"></script>
<script src="jsfiles/toggle.js"></script>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/Style/about.css" />
    <link rel="stylesheet" href="/static/Style/home.css" />
    <title>About Us</title>
  </head>

  <body>
    <header>
      <a href="#" class="logo">DARUL HIKMAH</a>
      <div class="menuToggle"></div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="">read <b>▼</b></a>
            <ul>
              <li><a href="/getUserBlogs">blog</a></li>
              <li><a href="/getUserInfographics">infographics</a></li>
            </ul>
          </li>
          <li><a href="/getUserPosts">posts</a></li>
          <li><a href="/getUserResourcePublications">resources</a></li>
          <li>
            <a href="/getUserCourses">courses <b>▼</b></a>
            <ul>
              <li><a href="getUserKidCourses">for Women</a></li>
              <li><a href="getUserWomenCourses">for kids</a></li>
            </ul>
          </li>
          <li><a href="/aboutUs">about</a></li>
          <li><a href="/contactUs">contact us</a></li>
          <li>
            <a href="/getuserPublications">publications<b>▼</b></a>
            <ul>
              <li><a href="/getUserEBookPublications">Ebooks</a></li>
              <li><a href="/getUserAcademyPublications">by academy</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div class="abhead">
      <h1>About Us</h1>
      <div class="slog">
        <p>"slogan comes here Lorem ipsum dolor sit amet consectetur"</p>
      </div>
    </div>
    <div class="abcon">
    <div class="abtcon1">
      <div class="par1">
        <h3><b>About Darul Hikmah Academy</b></h3>
        <br /><b>Location:</b><br />
        Darul Hikmah Academy is a fully online institution based in Canada, with
        teachers and students spanning the globe, transcending any specific
        national identity. <br /><br />
        <b>Foundation Year:</b>Established in 2019, Darul Hikmah Academy has
        steadily grown and evolved to provide quality Islamic education.
        <br /><br /><b>- Affiliation:</b><br />
        We proudly acknowledge our affiliation with Maulana Khalid Saifullah
        Rahmani, a renowned Islamic scholar and the Fifth President of the All
        India Muslim Personal Law Board. His expertise in Islamic jurisprudence,
        Quran, Sunnah, and Shariah, combined with a dynamic approach, guides the
        Muslim community in addressing contemporary challenges. Maulana
        Rahmani's lineage of esteemed scholars and contributions to Islamic
        education demonstrate his dedication to community betterment.
        <br /><br /><b>Sect:</b><br />
        Darul Hikmah Academy follows the Ahl al-Sunnah wa-l-Jama'ah tradition.
        Our fiqh offerings encompass Hanafi, Shafi’i, Maliki & Hanbali
        traditions, aligning with the Quran and Sunnah. <br /><br /><b
          >- Curriculum:</b
        ><br />
        Our primary educational program, the Four-year Traditional Islamic
        Education (‘Alima) Program, aligns with the Dars-e-Nizami curriculum,
        One year Classical Islamic Learning program, tailored to contemporary
        women's needs, delivered online in Urdu. Our emphasis on practical
        implementation, especially in teaching fiqh and Arabic, alongside
        tarbiyah (character development), sets us apart from other institutes.
        <br /><br /><b>- Certificates:</b><br />
        Upon successfully meeting requirements, participants in the Four-year
        Traditional Islamic Education program or Classical Islamic Learning
        program will receive a certificate from Darul Hikmah Academy.
        Additionally, certificates may be awarded for select short courses, with
        details provided in course-specific advertisements. We are committed to
        providing a comprehensive and dynamic Islamic education experience to
        empower our students with knowledge and character, all while embracing
        our online global community. <br /><br /><b> - Course Fees:</b><br />
        At Darul Hikmah Academy, all our courses are offered completely free of
        cost, with no charges to our students.
        <!-- Add the content provided under "Our goal is to instil..." -->
        <!-- You can use paragraphs and spans to structure the content -->
      </div>

      <div class="logob">
        <img src="/static/Assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="abtcont2">
      <div class="par2">
        <h3><b>Our Goals, by the Will of Allah, encompass:</b></h3>
        <br />

        - Nurturing a profound understanding of the fundamentals of Islam among
        our young Muslim women. <br />- Instilling essential Islamic values,
        including Taqwa (piety), Imaan (faith), Ikhlas (sincerity), Dawah
        (propagation of faith), and Modesty, in our Muslim girls. <br />-
        Fostering a future-oriented perspective, where our Muslim girls
        prioritize their Aakhirah (Hereafter). <br />- Guiding our Muslim girls
        in aligning their aspirations with the principle of simple living and
        high thinking. - Empowering our Muslim girls with both Islamic and
        worldly knowledge to excel in all aspects of life. <br />- Molding our
        Muslim girls into valuable contributors to the Ummat-e-Muhammad (peace
        be upon him), the Muslim community at large. <br /><br /><br />

        <h3><b>Objectives:</b></h3>
        <br />1. Spread the teachings of Islam and Sharia to a wider audience,
        ensuring accessibility for all. <br />2. Provide beginners with a solid
        foundation in Islamic knowledge and help them grasp the methodologies of
        earlier generations effectively. <br />3. Foster a passion for
        fundamental Islamic teachings among regular Muslims, making subjects
        like Aqeedah, Tafsir, Hadith, Fiqh, and other sciences easily
        understandable. <br />
        4. Implement an innovative online learning platform to enable distant
        virtual education, simplifying the process of acquiring essential
        Islamic knowledge necessary for religious practice. <br />5. Educate
        Muslim women about their faith, empowering them to become knowledgeable
        individuals. <br />6. Develop educational initiatives tailored to Muslim
        communities in the Western world, facilitating the acquisition of
        Islamic knowledge and expanding its benefits globally. <br />7. Remove
        barriers hindering individuals from accessing institutional learning and
        provide knowledge regardless of geographical location or obstacles.
        <br />
        8. Seek divine assistance from Allah in fulfilling our mission and
        achieving our vision, and may He reward all those involved in this
        endeavor. Allah is All-Hearing and responsive to prayers.
        <!-- Add the content provided under "What do we do?" -->

        <br /><br /><br />
      </div>
    </div>
    <!-- Add the provided content related to Darul Hikmah Academy -->
    <!-- Use appropriate HTML elements to structure the content -->
    <!-- Don't forget to maintain the class names as requested -->
    <!-- Add the footer content provided -->
    <footer class="bg-dark">
      <div class="container text-white">
        <div class="row gy-4 gx-5">
          <div
            class="col-lg-6 col-md-6 d-flex flex-column justify-content-end"
          >
            <div>
              <h5 class="h1">DARUL HIKMAH</h5>
              <p class="small">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt.
              </p>
            </div>
            <div>
              <p class="small mb-0">
                &copy; Copyrights. All rights reserved. Developed by Glittle
                Software Solutions
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <h5 class="text-white mb-3 text-center">Quick Links</h5>
            <ul class="list-unstyled text-muted d-flex flex-wrap">
              <li class="mx-4 pt-3 text-white"><a href="/">Home</a></li>
              <li class="mx-4 pt-3 text-white">
                <a href="/getUserBlogs">Read</a>
              </li>
              <li class="mx-4 pt-3 text-white">
                <a href="/getUserPosts">Posts</a>
              </li>
              <li class="mx-4 pt-3 text-white">
                <a href="/getUserResourcePublications">Resources</a>
              </li>
              <li class="mx-4 pt-3 text-white">
                <a href="/getUserCourses">Courses</a>
              </li>
              <li class="mx-4 pt-3 text-white"><a href="/aboutUs">About</a></li>
              <li class="mx-4 pt-3 text-white">
                <a href="/contactUs">Contact Us</a>
              </li>
              <li class="mx-4 pt-3 text-white">
                <a href="/getUserPublications">Publications</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="jsfiles/logo.js"></script>
    <script src="jsfiles/toggle.js"></script>
  </body>
</html>
