<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/Style/home.css" />
    <link rel="stylesheet" href="/static/Style/contact.css" />
    <script
      src="https://kit.fontawesome.com/85dc7f73ae.js"
      crossorigin="anonymous"
    ></script>
    <title>Contact us</title>
  </head>
  <body class="contact">
    <header>
      <div class="heatit"> <a href="#" class="logo">DARUL HIKMAH ACADEMY <img src="/static/Assets/images/logo.png" alt=""></a></div>
       <div class="menuToggle"></div>
       <nav>
         <ul>
           <li><a href="/">Home</a></li>
           <li>
             <a href="">Read <b>▼</b></a>
             <ul>
               <li><a href="/getUserBlogs">Blog</a></li>
               <li><a href="/getUserInfographics">Infographics</a></li>
             </ul>
           </li>
           <li><a href="/getUserPosts">Posts</a></li>
           <li><a href="/getUserResourcePublications">Resources</a></li>
           <li>
             <a href="/getUserCourses">Courses <b>▼</b></a>
             <ul>
               <li><a href="getUserKidCourses">for Kids</a></li>
               <li><a href="getUserWomenCourses">for Women</a></li>
             </ul>
           </li>
           <li><a href="/aboutUs">About</a></li>
           <li><a href="/contactUs">Contact us</a></li>
           <li>
             <a href="/getuserPublications">Publications<b>▼</b></a>
             <ul>
               <li><a href="/getUserEBookPublications">Ebooks</a></li>
               <li><a href="/getUserAcademyPublications">by Academy</a></li>
             </ul>
           </li>
         </ul>
       </nav>
     </header>
    <script>
      let menuToggle = document.querySelector(".menuToggle");
      let header = document.querySelector("header");
      menuToggle.onclick = function () {
        header.classList.toggle("active");
      };
    </script>

    <div class="bg-container"></div>
    <div class="cent">
      <div class="conta">
        <div class="heading">
          <h1>Contact Us</h1>
          <p>Connect with us....</p>
        </div>
        <div class="info">
          <div class="details">
            <div class="name"><h2>DARUL HIKMAH ACADEMY</h2></div>
            <div class="data">
              <div class="no">
                <i class="fa-solid fa-phone fa-xl"></i>+1416 988 7994
              </div>
              <div class="mail">
                <i class="fa-solid fa-at fa-xl"></i>darulhikmahca@gmail.com
              </div>
              <div class="add">
                <i class="fa-solid fa-building fa-xl"></i>Toronto, Canada
              </div>
            </div>
          </div>
          <div class="icons">
            <a target="_blank" href="https://instagram.com/darulhikmahca?igshid=ODM2MWFjZDg="><div class="ig"><i class="fab fa-instagram fa-2xl"></i></div></a>
            <a target="_blank" href="https://youtube.com/@darulhikmahca"><div class="yt"><i class="fa-brands fa-youtube fa-2xl"></i></div></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100090197054000"><div class="fb"><i class="fa-brands fa-facebook fa-2xl"></i></div></a>
            <a target="_blank" href="https://whatsapp.com/channel/0029VaEV7GtKAwEnzdlNaU3f"><div class="wa"><i class="fa-brands fa-whatsapp fa-2xl"></i></div></a>
          </div>
        </div>
      </div>
     
    </div>
    <script src="/jsfiles/toggle.js"></script>
  </body>
</html>
